<div class="container-fluid">
  <div class="col-xs-12 text-center footer">
  <ul>
    <li><a href="https://github.com/hashdog/perico" target="_blank">Follow on GitHub</a></li>
    <li><a href="https://github.com/hashdog/perico/graphs/contributors" target="_blank">Contribute</a></li>
    <li><a href="https://icomoon.io/app" target="_blank">IcoMoon App</a></li>
    <li><a href="https://hashdog.com" target="_blank">Hashdog</a></li>
  </ul>
  
  <p>Made with <img src="images/heart.svg" class="love"> <small>by {hashdog}</small></p>
  </div>
</div>