<div class="container-fluid">
  <div class="col-xs-12 text-center footer">
  <ul>
    <li><a href="#">Follow on GitHub</a></li>
    <li><a href="#">Contribute</a></li>
    <li><a href="#">IcoMoon App</a></li>
    <li><a href="#">Hashdog</a></li>
  </ul>
  
  <p>Made with <img src="images/heart.svg" class="love"> <small>by {hashdog}</small></p>
  </div>
</div>