<div class="container-fluid">
  <div class="palmtree"></div>
  <div class="palmtree left"></div>
  <div class="col-xs-12 navegation">
    <nav class="text-center">
      <ul>
        <li><a href="https://github.com/hashdog/perico" target="_blank">GitHub</a></li>
        <li><a href="https://github.com/hashdog/perico/graphs/contributors" target="_blank">Contribute</a></li>
        <li><a href="https://hashdog.com" target="_blank">Hashdog</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 text-center header">
    <img src="images/perico-logo.svg" class="logo">
    <h1>perICO</h1>
    <p>Language Programming Icons Pack</p>
  </div>
</div>