<div class="container-fluid">
  <div class="col-xs-12 text-center header">
    <img src="images/perico-logo.svg" class="logo">
    <h1>perICO</h1>
    <p>Language Programming Icons Pack</p>
  </div>
</div>